#conteneur{
    width: 1000px;
    margin: 0 auto;
    border: 2px solid #000;
}

header{
    background: lightgreen;
    width: 1000px;
    height: 150px;
}

.menu{
    background: magenta;
    width: 1000px;
    height: 30px;
}

#mid{
    height: 750px;
    /*border: 15px solid #fff;*/
}

.a, .c, .e, .g{
    height: 250px;
    width: 250px;
    float: left;
}

.b, .f{
    width: 500px;
    height: 250px;
    float: left;
}
.d{
    width: 1000px;
    height: 250px;
    background: red;
    float: left;
}

.a{
    background: #bf1;
    float: left;
}

.b{
    background: blue;
    float: left;
}

.c{
    background: lightblue;
    float: left;
}


.e{
    background: grey;
    float: left;
}

.f{
    background: chocolate;
    float: left;
}

.g{
    background: #ba2;
    float: left;
}

footer{
    background: #52fa35;
    width: 1000px;
    height: 80px;
}

.clear{
    clear: both;
}
