#conteneur{
    /*width: 1000px;
    margin: 0 auto;
    border: 2px solid #000;*/
    border: 2px solid;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    font-size: 1.2vw;
}

header{
    /*background: lightgreen;
    width: 1000px;
    height: 150px;*/
    background: #f6523f;
    height: 15vh;
}

.menu{
    /*background: magenta;
    width: 1000px;
    height: 30px;*/
    background: #ba2;
    height: 5vh;
}

#mid{
    /*height: 750px;
    /*border: 15px solid #fff;*/
    width: 100%
    background: #653;
    margin: 2%;
}

.a, .c, .e, .g{
    width: 20%;
    height: 28vh;
    float: left;
}

.b, .f{
    width: 60%;
    height: 28vh;
    float: left;
}
.d{
    width: 100%;
    height: 28vh;
    background: red;
    float: left;
}

.a{
    float: left;
    width: 20%;
    height: 28vh;
    background: #369;
}
.b{
    background: blue;
    float: left;
}
.c{
    float: left;
    width: 20%;
    height: 28vh;
    background: #767676;
}
.e{
    float: left;
    width: 20%;
    height: 28vh;
    background: #fda500;
}
.f{
    background: green;
    float: left;
}
.g{
    float: left;
    width: 20%;
    height: 28vh;
    background: #aa2355;
}
/*.a{
    background: #bf1;
    float: left;
}

.b{
    background: blue;
    float: left;
}

.c{
    background: lightblue;
    float: left;
}


.e{
    background: grey;
    float: left;
}

.f{
    background: chocolate;
    float: left;
}

.g{
    background: #ba2;
    float: left;
}*/

footer{
    background: #32f65f;
    height: 7.5vh;
}

.clear{
    clear: both;
}
