nav{
    background: #ba2;
    position: fixed;/*le menu reste fixé*/
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

#contenu{
    border: 2px solid #ccc;
    margin: 30px 0 0 0;
}
