p{
    margin: 0;
}

.orange{
    color: #ba2;
    position: absolute;
    font-weight: bold;
    bottom: 0;
    right: 0;
    /*top:100%;
    left:100%;*/
}

div{
    border: 5px solid #ccc;
}

/* la position absolute redéfinit l'emplacement de la zone par rapport à la fenêtre. Ainsi en utilisant to: 50%, nous écartons de 50 du haut du site.
Avec top/left/right/bottom: on règle la position de l'élément et non pas margin-left/top/right/bottom. 

*/
