/*  INdex Style   */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    font-family: 'Sansita', sans-serif;
    margin: 0 auto;
    text-decoration: none;
}

header{
    background:linear-gradient(white, white, grey);
    width: 100%;
    height: 110px;
}

.top{
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    }
    .topleft{
        float: left;
        width: 700px;
        height: 80px;
    }
    .topleft h2{
        margin-left: 20px;
        text-shadow: 4px 4px 4px gray;
    }
    .topleft strong{
        color: #1873af;
    }
    .topright{
        font-size: 13px;
        text-align: right;
        float: left;
        width: 300px;
        height: 80px;
    }
    .topright a{
        color: blue;
    }
    nav{
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    nav a{
        transition: 0.5s;
        display: inline-block;
        padding: 3px 25px;
        color: black;
    }
    nav a:hover{
        background: #1873af;
        border-radius: 15px 0;
        color: white;
    }

section{
    text-align: center;
    margin: 15px auto;;
    width: 1000px;
    height: 730px;
}

.left{
    text-align: left;
    width: 600px;
    height: 730px;
    float: left;
    font-size: 15px;
    }
    .left h2{
        color: grey;
    }
    .left img{
        float: left;
    }
    .left p{
        float: left;
        display: inline;
    }
    .left p em{
        font-size: 13px;
    }
    .left ul li{
        margin-bottom: 15px;
        display: inherit;
        background: url(../img/fleche.jpg) left center no-repeat;
        padding: 0 0 0 30px;
        font-size: 14px;
    }
    .left .img{
        margin: 5px 0 -30px 100px; ;
    }


.right{
    width: 400px;
    height:730px;
    float: left;
    }
    .casea, .caseb, .casec{
        float: right;
        margin: 30px 0;
        width: 300px;
        height: 100px;
        border-radius: 13px;
        border: 2px solid #000;
    }
    .casea h3, .caseb h3, .casec h3{
        border-bottom: 1px solid #000;
        background: linear-gradient(grey,white);
        border-radius: 10px 10px 0 0;
        border-top: 2px solid #000;
    }

footer{
    clear: both;
    background: linear-gradient(grey, white, white);
    width: 100%;
    height: 100px;
}

.bottom{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    height: 80px;
    font-size: 13px;
    }
    .bottom a{
        color: blue;
    }

/*******Mon CV Style*******/
/******Classe changes******/

.cvleft{
    /*background: pink;*/
    text-align: left;
    width: 300px;
    height: 720px;
    float: left;
    font-size: 15px;
    }
    .cvleft ul li{
        margin-bottom: 5px;
        display: inherit;
        background: url(../img/fleche2.png) left center no-repeat;
        padding: 0 0 0 30px;
    }

.cvright{
    font-style: italic;
    font-size: 14px;
    /*background: green;*/
    width: 700px;
    height:720px;
    float: left;
    }

    #competences{
        position: absolute;
        text-indent: -3000px;
        transition: 2s;
        }
        #competences:target{
            position:absolute;
            text-indent: 0;
        }
    #activite{
        position: absolute;
        text-indent: -2000px;
        transition: 2s;
        }
        #activite:target{
            position:absolute;
            text-indent: 0;
        }

    #exp{
        position: absolute;
        text-indent: -3000px;
        transition: 2s;
        }
        #exp:target{
            position:absolute;
            text-indent: 0;
        }

    #logiciel{
        position: absolute;
        text-indent: -3000px;
        transition: 2s;
        }
        #logiciel:target{
            position:absolute;
            text-indent: 0;
        }

    #langue{
        position: absolute;
        text-indent: -3000px;
        transition: 2s;
        }
        #langue:target{
            position:absolute;
            text-indent: 0;
        }

    #loisir{
        position: absolute;
        text-indent: -3000px;
        transition: 2s;
        }
        #loisir:target{
            position:absolute;
            text-indent: 0;
        }
/******Contact style******/
/*****Classe changes*****/

.cleft{
    padding: 33px 0 0 0;
    text-align: left;
    float: left;
    /*background: red;*/
    width: 500px;
    height: 730px;
}
.cright{
    float: left;
    /*background: blue;*/
    width: 500px;
    height: 730px;
}
.rtop{
    text-align: left;
    /*background: green;*/
    width: 500px;
    height: 360px;
    float: left;

}
.rbottom{
    /*background: grey;*/
    width: 500px;
    height: 370px;
    float: left;
}
input{
    width: 68%;
}
input:last-child{
    width: 11%
}

.clear{
    clear: both;
}
