ul.fruit{
    list-style-type: none;
}

ul.fruit li{
    float: left;
    margin: 15px;
    background: url(../img/smiley.jpg)left center no-repeat;
    padding: 0 0 0 17px;
}

hr{
    clear: both;
}
