body{
    background: #000  url(../img/zoro-wallpapers.jpg) no-repeat;
    background-size: cover;
}

.contenu{
    background: linear-gradient(green,yellow,red);
    width: 800px;
    height: 500px;
    margin: auto;
}
