div{
    width: 800px; /*largeur*/
    margin: 0 auto; /*marge*/
}

div img{
    height: 300px;
    width: 300px;
    margin: 20px; /*marge*/
    border: 5px solid grey; /*bordure*/
    box-shadow: 10px 10px 7px black; /*ombre*/
    transition: 2s;
    border-radius: 15%;
}

div img:hover{
    transform: rotate(-15deg);/*rotation en °*/
}

.rotation360:hover{
    transform: rotate(360deg);
}
